.LoginButton {
    color: white;
    background-color: var(--primary);
    text-decoration: none;
    padding: 12px 20px;
    gap: 10px;
    justify-content: space-between;
    display: flex;
    border-radius: 20px;
}

.Container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.LoginButton:hover {
    text-decoration: underline;
    filter: brightness(85%);
}
